<!--main content start-->
<section id="main-content" class="relative">
    <section class="wrapper">

        <!-- page start-->
        <div class="col-md-9 col-xs-9 col-sm-6 col-lg-8 ">
            <div class="row">
                <div class="col-md-12 ">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb margtop5 small">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li>Relatórios</li>
                        <li class="active"> Histórico de Inscrição </li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
            <!--row end -->
        </div>
        <div class="col-md-3 col-xs-3 col-sm-6 col-lg-4 offset-0">
            <button type="button" class="btn btn-primary bluebtn right  " data-toggle="collapse" data-target="#collapseBusca" aria-expanded="false"
                aria-controls="collapseExample"><i class="fa fa-filter"></i>
              <div class="hidden-inline-xs">Filtro</div>
            </button>
        </div>

        <!-- page start-->
        <div class="clearfix"> </div>

        <div class="collapse" id="collapseBusca">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel  panel-default ">
                        <div class="panel-body busca_avancada">
                            <div class="col-md-12 offset-0 margbottom10">
                                <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label"> Subárea </label>
                                        <div class="clearfix"></div>
                                        <select class="form-control " placeholder="1">
                            <option> Selecione</option>
                            <option> Subárea 1</option>
                            <option> Subárea 2</option>
                          </select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label"> Serviço </label>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 offset-0">
                                            <div class="clearfix"></div>
                                            <select class="form-control " placeholder="1">
                            <option> Selecione</option>
                            <option> Serviço 1</option>
                            <option> Serviço 2</option>
                          </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">

                                    <label class="control-label"> Selecione a data </label>
                                    <div class="input-group input-large " data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control dpd1" name="from" value="02/04/2016">
                                        <span class="input-group-addon">à</span>
                                        <input type="text" class="form-control dpd2" name="to" value="13/07/2016">
                                    </div>

                                </div>


                                <div class="col-sm-12 col-xs-12 col-sm-12 col-lg-12">
                                    <button type="button" class="btn btn-primary bluebtn right margtop20" data-toggle="collapse" data-target="#collapseExample"
                                        aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Buscar </button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="clearfix"> </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Panel -->
                <div class="panel panel-default filterable">
                    <!-- Topo -->
                    <div class="panel-heading">
                        <i class="fa fa-retweet hidden-inline-xs"></i> Histórico de Inscrição


                    </div>
                    <!-- Fim Topo -->

                    <!-- panel-body -->
                    <div class="panel-body container-fluid offset-0">
                        <!-- table responsive -->
                        <div class="table-responsive mt-6">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr class="filters">
                                        <th class="small">
                                            Nome Completo
                                        </th>
                                        <th class="small">
                                            Nome Social
                                        </th>
                                        <th class="small center">
                                            Data de Nascimento
                                        </th>

                                        <th class="small center">
                                            Sexo
                                        </th>
                                        <th class="small center">
                                            Data Agendada
                                        </th>
                                        <th class="small center">
                                            Serviço
                                        </th>

                                        <th class="small center">
                                            Data da inscrição
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="titulo_table">Pereira Alberto Alves dos Santos Junior Xavier Barroso Neto</td>
                                        <td class="descricao_table">Sed ut perspiciatis unde omnis ister </td>
                                        <td class="center">04/02/1986</td>
                                        <td class="center">M</td>
                                        <td class="center">28/07/2016</td>
                                        <td class="center"> Atendimento de Podologia</td>
                                        <td class="center">28/07/2016</td>
                                    </tr>

                                    <tr>
                                        <td class="titulo_table"> Junior Xavier Barroso Neto</td>
                                        <td class="descricao_table">Sed ut perspiciatis unde omnis ister </td>
                                        <td class="center">04/02/1986</td>
                                        <td class="center">M</td>
                                        <td class="center">28/07/2016</td>
                                        <td class="center"> Atendimento de Podologia</td>
                                        <td class="center">28/07/2016</td>
                                    </tr>




                                </tbody>
                            </table>
                        </div>
                        <!-- / table responsive -->
                        <!--  paginacao -->
                        <div class="text-center">
                            <ul class="pagination">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                        <!-- / paginacao -->
                    </div>
                    <!-- /.panel-body -->
                    <!-- panel-footer -->
                    <div class="panel-footer none">
                        <button type="button" class="btn2 btn-primary btn-lg"><i class="fa fa-save"></i> Salvar</button>
                        <button type="button" class="btn2 btn-primary btn-lg"><i class="fa fa-remove"></i> Cancelar</button>
                    </div>
                    <!-- /.panel-footer -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- / row -->

    </section>
    <!-- / section wrapper -->
</section>