<!--main content start-->
<section id="main-content" class="relative">

	<section class="wrapper">

		<!-- page start-->
		<div class="col-md-9 col-xs-9 col-sm-6 col-lg-8 ">
			<div class="row">
				<div class="col-md-12 ">
					<!--breadcrumbs start -->
					<ul class="breadcrumb margtop5 small">
						<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
						<li>Cadastro</li>
						<li class="active">Agenda</li>
					</ul>
					<!--breadcrumbs end -->
				</div>
			</div>
			<!--row end -->
		</div>
		<div class="col-md-3 col-xs-3 col-sm-6 col-lg-4 offset-0" *ngIf="resourcesPage != null">
			<button type="button" class="btn btn-primary bluebtn right" data-toggle="collapse" data-target="#collapseBusca" aria-expanded="false" aria-controls="collapseExample">
				<i class="fa fa-filter"></i> 
				<div class="hidden-inline-xs">Filtro</div>
			</button>
		</div>
		<!-- page start-->
		<div class="clearfix"> </div>
		<div class="collapse" id="collapseBusca">
			<div class="row">
				<div class="col-md-12">
					<section class="panel  panel-default ">
						<div class="panel-body busca_avancada">
							<div class="col-md-12 offset-0 margbottom10">
								<div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">
									<div class="form-group">
										<label for="agenda" class="control-label">Agenda</label>
										<div class="clearfix"></div>
										<div class="col-md-12 offset-0">
											<input id="chave" name="chave" [(ngModel)]="filter.chave" type="text" placeholder="Chave do Agenda" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-md-5 col-xs-12 col-sm-5 col-lg-5">
									<div class="form-group">
										<label for="subarea" class="control-label">Descrição</label>
										<div class="clearfix"></div>
										<div class="col-md-12 offset-0">
											<input id="descricao" name="descricao" [(ngModel)]="filter.descricao" type="text" placeholder="Descrição do uso do Agenda" class="form-control input-sm">
										</div>
									</div>
								</div>
								<div class="col-sm-3 col-xs-12 col-sm-3 col-lg-3 ">
									<button (click)="applyFilter()" type="button" class="btn btn-primary bluebtn margtop20  " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
										aria-controls="collapseExample"><i class="fa fa-search"></i> Buscar </button>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
		<div class="row">
			<div class="col-lg-12">
				<!-- Panel -->
				<div class="panel panel-default filterable">
					<!-- Topo -->
					<div class="panel-heading">
						<i class="fa fa-calendar hidden-inline-xs"></i> Agenda
						<div class="pull-right">
							<button (click)="new()" class="btn btn-default btn-xs bluebtn tooltips" type="button" data-placement="left" data-toggle="tooltip" data-original-title="Incluir">  
								<i class="fa fa-plus"></i>     
							</button>
						</div>
					</div>
					<!-- Fim Topo -->
					<!-- panel-body -->
					<div class="panel-body container-fluid offset-0" *ngIf="resourcesPage != null">
						<!-- table responsive -->
						<div class="table-responsive mt-6">
							<table class="table table-bordered table-hover table-striped">
								<thead>
									<tr class="filters">
										<th class="small">
											<table-sort [table]="self" [page]="resourcesPage" [label]="'Subárea'" [property]="'subarea'"></table-sort>
										</th>
										<th class="small">
											<table-sort [table]="self" [page]="resourcesPage" [label]="'Serviço'" [property]="'servico'"></table-sort>
										</th>
										<th class="small">
											<table-sort [table]="self" [page]="resourcesPage" [label]="'Publicado'" [property]="'subarea'"></table-sort>
										</th>
										<th class="small center">
											<table-sort [table]="self" [page]="resourcesPage" [label]="'Data de publicação'" [property]="'dataPublicacao'"></table-sort>
										</th>
										<th class="small">
											<table-sort [table]="self" [page]="resourcesPage" [label]="'Status'" [property]="'status'"></table-sort>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let agenda of resourcesPage.content">
										<td class="titulo_table">{{ agenda.subarea.descricao | titleCase }}</td>
										<td class="titulo_table">{{ agenda.servico.titulo | titleCase }}</td>
										<td class="center"> <span class="label label-success label-mini size11 ">Sim</span></td>
										<td class="descricao_table">{{ agenda.dataPublicacao | titleCase }}</td>
										<td class="center"><input id="switch-size" type="checkbox" class="left" checked="" data-size="mini"></td>
										<td class="center"><a (click)="onShow(agenda)" title="" class="tooltips btn btn-default btn-xs" data-placement="left" data-original-title="Visualizar"><i class="fa fa-eye lblue size14"></i></a></td>
										<td class="center"><a (click)="onSelect(agenda)" title="Editar" class="tooltips btn btn-default btn-xs" data-placement="left" data-original-title="Editar"><i class="fa fa-pencil lblue size14"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- / table responsive -->

						<!--  paginacao -->
						<div class="text-center">
							<table-pagination [table]="self" [page]="resourcesPage"></table-pagination>
						</div>
						<!-- / paginacao -->

					</div>
					<!-- /.panel-body -->

				</div>
				<!-- /.panel -->

			</div>
			<!-- /.col-lg-12 -->

		</div>
		<!-- / row -->

	</section>
	<!-- / section wrapper -->

</section>